@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --color-primary-dark: #353839;
  --color-primary-light: #4B4E50;
  --color-secondary-bg: #FFD700;
  --color-accent: #FF4500;
  --color-white: #FFFFFF;
  --color-secondary-text: #1A1A1A;
  --color-border-color: #5A5A5A;
  --color-hover: #FFA500;
  --color-success: #28a745;
  --color-error: #dc3545;
}

@layer components {
  .homePageButton {
    @apply block w-full p-2 bg-white;
  }
  .detailsContainerBtn {
    @apply px-4 py-2 bg-white text-secondary-text rounded-sm;
  }
  .detailsText {
    @apply block text-xl bg-primary-dark p-2 font-roboto text-white;
  }
}


:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg-light);
  color: var(--text-primary-color);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

a {
  color: inherit;
  text-decoration: none;
}