.emptyGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.emptyGallery__title {
  font-size: 1.5em;
  color: var(--text-primary-color);
  margin-bottom: 10px;
}

.emptyGallery__message {
  font-size: 1.2em;
  color: var(--text-primary-color);
  margin-bottom: 20px;
}