.heroGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  padding: 0;
  margin: var(--spacing-md);
}

@media screen and (min-width: 1600px) {
  .heroGallery {
    grid-template-columns: repeat(5, 1fr);
  }
}